.containerAgadir {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.containerAgadir::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/agadir.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(10px);
  z-index: -1;
}

.agadirC {
  background-image: url("../images/agadir.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: space-between;
  display: flex;
  height: 80%;
}
.select {
  appearance: none;
  background-color: transparent;
  border: none;
  width: 180px;
  height: 50px;
  font-size: 30px;
  margin: 10px;
}
.option {
  background-color: #dbd9d9;
}
.formRespo {
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Response {
  height: 20%;
  backdrop-filter: blur(10px);
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.myres1 {
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.my-res2 {
  height: 100%;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.weekCards{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.imgg {
  width: 100%;
  height: 10vh;
}
.containerRabat {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.containerRabat::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/rabat.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(10px);
  z-index: -1;
}

.rabatC {
  background-image: url("../images/rabat.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 80%;
}
.containerTanger {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.containerTanger::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/tanger.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(10px);
  z-index: -1;
}

.tangerC {
  background-image: url("../images/tanger.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 80%;
}
.containerParis {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.containerParis::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/paris.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(10px);
  z-index: -1;
}

.parisC {
  background-image: url("../images/paris.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 80%;
}

.containerBerlin {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.containerBerlin::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/berlin.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(10px);
  z-index: -1;
}

.berlinC {
  background-image: url("../images/berlin.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 80%;
}
.containerMoscow {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.containerMoscow::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/moscow.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(10px);
  z-index: -1;
}

.moscowC {
  background-image: url("../images/moscow.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 80%;
}
.containerMadrid {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.containerMadrid::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/madrid.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(10px);
  z-index: -1;
}

.madridC {
  background-image: url("../images/madrid.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 80%;
}

.containerTokyo {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.containerTokyo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/Tokyo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(10px);
  z-index: -1;
}

.TokyoC {
  background-image: url("../images/Tokyo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 80%;
}
.containerNewYork {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.containerNewYork::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/newYork.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(10px);
  z-index: -1;
}

.newYorkC {
  background-image: url("../images/newYork.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 80%;
}
.form {
  width: 20%;
}
.location {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}
.wContainer {
  width: 65%;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  color: white;
}
.sunny {
  background-size: contain;
  width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 60%;
  background-image: url(../weathercode/100.png);
}
.sunny2 {
  background-size: contain;
  width: 60px;
  margin: 0 2px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 60px;
  padding : 5px;
  background-image: url(../weathercode/100.png);
}
.wContainer {
  width: 65%;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}
.wint {
  display: flex;
  justify-content: center;
  height: auto;
  width: 100%;
}
.overcast {
  background-size: contain;
  width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 60%;
  background-image: url(../weathercode/3.png);
}
.overcast2 {
  background-size: contain;
  width: 60px;
  margin: 0 2px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 60px;
  padding : 5px;
  background-image: url(../weathercode/3.png);
}
.fog2 {
  background-size: contain;
  width: 60px;
  margin: 0 2px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 60px;
  padding : 5px;
  background-image: url(../weathercode/fog.png);
}
.fog {
  background-size: contain;
  width: 65%;

  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  height: 60%;
  background-image: url(../weathercode/fog.png);
}
.drizzle {
  background-size: contain;
  width: 65%;

  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  height: 60%;
  background-image: url(../weathercode/drizzle.png);
}
.drizzle2 {
  background-size: contain;
  width: 60px;
  margin: 0 2px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 60px;
  padding : 5px;
  background-image: url(../weathercode/drizzle.png);
}
.freezdrizzle {
  background-size: contain;
  width: 65%;

  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  height: 60%;
  background-image: url(../weathercode/snowdrizzle.png);
}
.freezdrizzle2 {
  background-size: contain;
  width: 60px;
  margin: 0 2px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 60px;
  padding : 5px;
  background-image: url(../weathercode/snowdrizzle.png);
}
.rainOne {
  background-size: contain;
  width: 65%;

  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  height: 60%;
  background-image: url(../weathercode/6165.png);
}
.rainOne2 {
  background-size: contain;
  width: 60px;
  margin: 0 2px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 60px;
  padding : 5px;
  background-image: url(../weathercode/6165.png);
}
.snowzyRain {
  background-size: contain;
  width: 65%;

  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  height: 60%;
  background-image: url(../weathercode/snowzyRain.png);
}
.snowzyRain2 {
  background-size: contain;
  width: 60px;
  margin: 0 2px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 60px;
  padding : 5px;
  background-image: url(../weathercode/snowzyRain.png);
}
.thunder {
  background-size: contain;
  width: 65%;

  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  height: 60%;
  background-image: url(../weathercode/303.png);
}
.thunder2 {
  background-size: contain;
  width: 60px;
  margin: 0 2px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 60px;
  padding : 5px;
  background-image: url(../weathercode/303.png);
}
.snowOne {
  background-size: contain;
  width: 65%;

  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  height: 60%;
  background-image: url(../weathercode/402.png);
}
.snowOne2 {
  background-size: contain;
  width: 60px;
  margin: 0 2px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 60px;
  padding : 5px;
  background-image: url(../weathercode/402.png);
}

.snowTwo {
  background-size: contain;
  width: 65%;

  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  height: 60%;
  background-image: url(../weathercode/410.png);
}
.snowTwo2 {
  background-size: contain;
  width: 60px;
  margin: 0 2px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 60px;
  padding : 5px;
  background-image: url(../weathercode/410.png);
}

.rainTwo {
  background-size: contain;
  width: 65%;

  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  height: 60%;
  background-image: url(../weathercode/317.png);
}
.rainTwo2 {
  background-size: contain;
  width: 60px;
  margin: 0 2px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 60px;
  padding : 5px;
  background-image: url(../weathercode/317.png);
}
.temp {
  font-size: 30px;
  display: flex;
  justify-content: center;
}
.date {
  height: auto;
}
.date > span {
  font-size: 18px;
  background-color: #939191;
  border-radius: 16px;
  display: flex;
  justify-content: center;
}
.night {
  filter: grayscale(60%);
}
.day{
  filter: grayscale(0%);
}
.temp-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
  height: 100%;
  margin-left: 5px;
  color: white;
}
.location {
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.locationSvg {
  width: 20px;
  height: 30px;
}
.locationInfos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.locationSvg {
  margin-right: 5px;
}
.week-container {
  height: auto;
  width: 100%;
}
.weekCode-container {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.week-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.week-container > span {
  width: 70px;
  text-align: center;
}
.weather-icon {
  width: 10%;
  height: 100%;
}
.ccc {
  height: 50vh;
}
.noRes {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  width: 100%;
}
.weekTemp-container{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}
.weekTemp-container > div{
  text-align: center;
  width: 70px;
}
